// Typography
$font-family: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$background: #F8F9FA;
$font-color: #212529;
$dark-grey-1: #343A40;
$dark-grey-2: #495057;
$light-grey-1: #DEE2E6;
$light-grey-2: #E9ECEF;
$yellow: #fca311;
