// Colors
$background: #F8F9FA;
$font-color: #212529;
$dark-grey-1: #343A40;
$dark-grey-2: #495057;
$light-grey-1: #DEE2E6;
$light-grey-2: #E9ECEF;
$yellow: #fca311;

// Typography
$font-family: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

* {
  font-family: $font-family;
}

h1 {
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.15;
}

h2 {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
}

h3 {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15;
}

h4 {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.25;
}

h5 {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.5;
}

h6 {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.25;
}

p {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.5;
}

.p2 {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.25;
}

a {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.25;
}

//Type style
.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}
