.post-wrapper {
  border-bottom: solid 5px $light-grey-1;
  .name-img-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    img {
      margin-right: 5px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  .post-content {
    padding: 5px;
  }
  .likes-comments-counters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .likes-counter {
      display: flex;
      align-items: center;
      padding: 5px;
    }
    .comments-counter {
      padding: 5px;
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      display: flex;
      padding: 10px 5px 10px 5px;
      align-items: center;
      p {
        margin-left: 2px;
      }
    }
  }
}
