.profile-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: white;
  z-index: 2;
  .back-button-container {
    padding: 5px;
  }
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 5px;
  }
  .user-name {
    font-weight: bold;
    padding: 5px;
  }
  .buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    .friend-button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 120px;
      height: 30px;
      border-radius: 6px;
      background: blue;
      color: white;
    }
  }
}
