.allusers-wrapper {
  margin-top: 60px;
  .loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
  }
  .the-user-info {
    display: flex;
    align-items: center;
    padding: 7px;
    border-bottom: 1px solid grey;
    width: 100%;
    img {
      margin-right: 5px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
}
